<header>
  <a href="<%= relative_url '/' %>"><img src="<%= relative_url '/images/benchcoin.png' %>" alt="Benchcoin Logo" /></a>
</header>

<nav>
  <ul>
    <li><a href="<%= relative_url '/pulls' %>">Pulls</a></li>
    <li><a href="<%= relative_url '/runs' %>">Runs</a></li>
  </ul>
</nav>
