---
layout: page
title: Runs
---

<ul>
  <% collections.runs.resources.each do |run| %>
    <li text-xl m-4>
      <a href="<%= run.relative_url %>"><%= run.data.title %></a>
    </li>
  <% end %>
</ul>
